[package]
name = "macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
sql_bridge = { path = "../sql_bridge" }
syn = { version = "2", features = ["full"] }
