@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

fieldset {
    @apply outline-none;
}

*:focus {
    @apply outline-none;
}

.toolbar {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    gap: 8px,
}
